<div class="voice-container">
  <h2>🎙️ Voice Order</h2>
  <button (click)="startListening()" [disabled]="isListening">Start Listening</button>
  <button (click)="stopListening()" [disabled]="!isListening">Stop</button>

  <app-speech-recorder></app-speech-recorder>
  <div *ngIf="recognizedText">
    <h3>Recognized:</h3>
    <p>{{ recognizedText }}</p>
  </div>
</div>

<!-- [rowStyleClass]="getRowClass"  -->
<p-table #table [value]="parsedOrder" dataKey="id" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
        <tr>
            <th style="width:40%">
                Name
            </th>
            <th style="width:5%">
                Quantity
            </th>
            <th style="width:8%">
                Unit
            </th>
            <th style="width:10%">
                Price
            </th>
            <th style="width:30%">
                Audio 
            </th>
            <th style="width:10%">
                Action 
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-row let-editing="editing" let-i="rowIndex">
        <tr [ngClass]="{ 'deleted-row': row.deleted }">
            <!-- Name Column -->
            <td [pEditableColumn]="row.name" pEditableColumnField="name" *ngIf="!row.deleted">
                <p-cellEditor #cellEditor>
                    <ng-template pTemplate="input">
                        <app-speech-editor-cell
                            [(model)]="row.name"
                            (started)="activateEdit(row)"
                            (completed)="activateEdit(row)"
                        ></app-speech-editor-cell>
                    </ng-template>
                    <ng-template pTemplate="output">
                    {{ row.name }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td *ngIf="row.deleted">
                {{ row.name }}
            </td>
            <!-- Quantity Column -->
            <td [pEditableColumn]="row.quantity" pEditableColumnField="quantity" *ngIf="!row.deleted">
                <p-cellEditor>
                    <ng-template #input>
                        <input
                            pInputText
                            type="text"
                            [(ngModel)]="row.quantity"
                            required />
                    </ng-template>
                    <ng-template #output>
                        {{ row.quantity }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td *ngIf="row.deleted">
                {{ row.quantity }}
            </td>
            <!-- Unit Column -->
            <td [pEditableColumn]="row.unit" pEditableColumnField="unit" *ngIf="!row.deleted">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-autoComplete
                            [(ngModel)]="row.unit"
                            [suggestions]="filteredUnits"
                            (completeMethod)="filterUnits($event)"
                            [field]="'label'"
                            [dropdown]="true"
                            placeholder="Select Unit"
                            class="w-full"
                        ></p-autoComplete>
                    </ng-template>

                    <ng-template pTemplate="output">
                        {{ row.unit || 'Select Unit' }}
                    </ng-template>
                </p-cellEditor>

            </td>
            <td *ngIf="row.deleted">
                {{ row.unit }}
            </td>
            <!-- Price Column -->
            <td [pEditableColumn]="row.price" pEditableColumnField="price" *ngIf="!row.deleted">
                <p-cellEditor>
                    <ng-template #input>
                        <input
                            pInputText
                            [(ngModel)]="row.price" />
                    </ng-template>
                    <ng-template #output>
                        <span *ngIf="row.price">
                            {{ row.price * row.quantity }}({{ row.price }} * {{ row.quantity }})
                        </span>
                        <span *ngIf="!row.price">
                            XX
                        </span>
                    </ng-template>
                </p-cellEditor>
            </td>
            <td *ngIf="row.deleted">
                {{ row.price }}
            </td>
            <!-- Audio Column -->
            <td></td>
            <!-- Action Column -->
            <td>
                <button pButton type="button" [label]="row.deleted ? 'Restore' : 'Delete'" [severity]="row.deleted ? 'success' : 'danger'" icon="pi pi-trash" (click)="toggleRowVisibility(row)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<div *ngIf="validOrder.length > 0">
    <h2>Preview Order Slip</h2>
    <app-print-slip [items]="validOrder"></app-print-slip>
</div>
