.editor-with-mic {
  position: relative;
  width: 100%;
}

.editor-input {
  width: 100%;
  padding-right: 2.5rem; /* space for mic button */
  box-sizing: border-box;
}

.mic-button-inside {
    position: absolute;
    top: 45%;
    right: 1.2rem;
    transform: translateY(-50%);
    height: 1.6rem;
    width: 1.6rem;
    padding: 0;
    border: none;
    z-index: 1;
}
