<div class="table-wrapper">
  <p-table [value]="formArray.controls" [scrollable]="true" scrollHeight="60vh">
    <ng-template pTemplate="header">
      <tr>
        <th>Unit ID</th>
        <th>Canonical (Hindi)</th>
        <th>English</th>
        <th>Aliases</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row let-i="rowIndex">
      <tr>
        <td>
          <input pInputText [formControl]="row.get('unitId')" readonly />
        </td>
        <td>
          <app-speech-editor-cell
            [model]="getFormValue(row, 'canonical')"
            (modelChange)="setFormValue(row, 'canonical', $event)"
          ></app-speech-editor-cell>
        </td>
        <td>
          <app-speech-editor-cell
            [language]="'en-IN'"
            [model]="getFormValue(row, 'english')"
            (modelChange)="setFormValue(row, 'english', $event)"
          ></app-speech-editor-cell>
        </td>
        <td style="min-width: 250px;">
          <!-- <p-multiSelect
            [options]="mappedAllAliases"
            [formControl]="row.get('aliases')" 
            display="chip"
            appendTo="body"
            scrollHeight="200px"
          ></p-multiSelect> -->
          <!-- <p-autoComplete
            [suggestions]="filteredAliases"
            [formControl]="row.get('aliases')"
            [multiple]="true"
            [dropdown]="true"
            [forceSelection]="false"
            [placeholder]="'Select or add aliases'"
            (completeMethod)="filterAliases($event)"
            (onBlur)="normalizeAliases(i)"
            scrollHeight="200px"
            appendTo="body"
          /> -->
          <app-speech-multi-autocomplete
            [model]="getFormValue(row, 'aliases')"
            (modelChange)="setFormValue(row, 'aliases', $event)"
            [suggestions]="allAliases"
            placeholder="Select or add aliases"
            scrollHeight="200px"
            appendTo="body"
            language="hi-IN"
          />
        </td>
        <td>
          <button pButton type="button" label="Delete" severity="danger" icon="pi pi-trash" (click)="markDeleted(i)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <button pButton label="💾 Save All" class="p-mt-2" [disabled]="!canSaveAll" (click)="saveAll()"></button>
</div>
